<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Addpage</title>
</head>
<body>
  <h1><i>Add user</i></h1>
  <form action="/registration" method="POST">
    <label for="name">FullName:</label><br>
    <input type="text" name="fullName" value="" id="fullName">
    <span id="validName" class=""></span><br><br>

    <label for="name">lastName:</label><br>
    <input type="text" name="lastName" value="" id="fullName">
    <span id="lvalidName" class=""></span><br><br>
   
    <label for="email">Email:</label><br>
    <input type="text"  name="email" value="" id="email">
    <br><br>
    <span id="validEmail" class=""></span><br>

    <label for="password">Password</label><br>
    <input type="password"  name="password" value="" id="password">
    <br><br>
    <span id="validpassword" class=""></span><br>
       
    <label for="confirmPass">confirmPass</label><br>
    <input type="password"  name="confirmPass" value="" id="confirmPass">
    <br><br>
    <span id="confirmvalidPassword" class=""></span><br>
  </form>
  <div class="form-group">
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</body>
</html>