<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editpage</title>
</head>
<body>
    <h1><i>Edit Page</i></h1>
    <form id="myForm">
        <label for="name">Name:</label><br>
        <input type="text" name="fullName" value="" id="fullName">
        <span id="validName" class=""></span><br><br>
       
        <label for="lastname">lastName:</label><br>
        <input type="text"  name="lastname" value="" id="email">
        <br><br>
        <span id="validlastname" class=""></span><br>
  
        <label for="email">Email</label><br>
        <input type="email"  name="email" value="" id="email">
        <br><br>
        <span id="validemail" class=""></span><br>
           
        <label for="Password">pasword</label><br>
        <input type="password"  name="Password" value="" id="password">
        <br><br>
        <span id="validPassword" class=""></span><br>
        
        <button type="button">Save</button>
        <a class="nav-link active" aria-current="page"href="/"></a>

        </form>
</body>
</html>